.truncate-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
}

.markdown-body h1 {
    margin-bottom: 0.5rem;
}

.markdown-body h1,
.markdown-body h1 > * {
    font-size: 1.5rem;
    font-weight: bold;

}

.markdown-body h2,
.markdown-body h2 > * {
    font-size: 1.25rem;
}

.markdown-body h3,
.markdown-body h3 > * {
    font-size: 1rem;
}

.markdown-body h4,
.markdown-body h4 > * {
    font-size: 0.75rem;
}

.markdown-body h5,
.markdown-body h5 > * {
    font-size: 0.5rem;
}

.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-weight: bold;
    margin-top: 1.5rem;
}
